.indexContainer {
  display: flex;
  flex-direction: column;
}

.button {
  /* button with no style */
  background: none;
  border: none;
  /* larger text */
  font-size: 1em;
  /* text color grey */
  color: #c9c9c9;
}

/* on hover */
.button:hover {
  /* underline text */
  text-decoration: underline;
  color: white;
}
